@{
    ViewBag.Title = "About";
}
<h2>O nas</h2>
<h3>To sklep stworzony z miłości do wszystkich piesków.</h3>

<p>Znajdziesz u nas piękne i trwałe akcesoria, które z pewnoscią zadowolą Twojego czworonoga. Wszystkie produkty wykonujemy ręcznie z naturalnych materiałów.</p>
