@{
    ViewBag.Title = "Contact";
}
<h2>Kontakt</h2>
<h3>Skontaktuj się z nami</h3>

<address>
    Szczęśliwych Piesków 8<br />
    Białystok, 15-123<br />
    <abbr title="Phone">Telefon:</abbr>
    123-456-789
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">happydogshop2022@gmail.com</a><br />
</address>

<div>
    <h2>Formularz kontaktowy:</h2>
    <form method="post" action="/Home/Contact">
        <div>
            Imie:
            <input type="text" name="customerName" />
        </div>
    
        <div>
            Adres email:
            <input type="text" name="customerEmail" />
        </div>
    
        <div>
            Sczegóły problemu: <br />
            <textarea name="customerRequest" cols="45" rows="4"></textarea>
        </div>
    
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>