@{
    ViewBag.Title = "Contact";
}
<div style=" border-style: double; border-radius: 8px; border-color: #f7e6cf; padding: 30px; margin: 50px;" class="sawibox form-horizontal ">
    <h2>Formularz kontaktowy:</h2>
    <hr style="height: 1px; background-color: #e43e86; color: #e43e86" />
    <form method="post" action="/Home/Contact">
        <div>
            <strong>Imie:   </strong>
            <input type="text" name="customerName" />
        </div>
    
        <div>
            <strong>Adres email:</strong>
            <input type="text" name="customerEmail" />
        </div>
    
        <div>
            <strong>Sczegóły problemu:</strong> <br />
            <textarea name="customerRequest" cols="45" rows="4"></textarea>
        </div>
    
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>


<div>
    <h3>Skontaktuj się z nami</h3>

    <address>
        Szczęśliwych Piesków 8<br />
        Białystok, 15-123<br />
        <abbr title="Phone">Telefon:</abbr>
        123-456-789
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:Support@example.com">happydogshop2022@gmail.com</a><br />
    </address>
    
</div>

