@{
    ViewBag.Title = "Home Page";
}
<div style="height: 50px">
    
</div>
@* slider *@
<div style=" margin: 10px auto ; display: flex; justify-content: center" > 
    <div class="mySlides sawislider">
        <img src="https://lillypetshop.pl/950-thickbox_default/royal-nap-legowisko-dla-sredniego-i-duzego-psa-silver-grey.jpg" style="height: 370px; padding: 0; margin: 0">
        <img src="https://lillypetshop.pl/1076-big_default/organiczna-pilka-rainbow-green.jpg" style="height: 370px; padding: 0; margin: 0">
    </div>

    <div class="mySlides sawislider">
        <img src="https://lillypetshop.pl/1076-big_default/organiczna-pilka-rainbow-green.jpg" style="height: 370px; padding: 0; margin: 0">
        <img src="https://lillypetshop.pl/950-thickbox_default/royal-nap-legowisko-dla-sredniego-i-duzego-psa-silver-grey.jpg" style="height: 370px; padding: 0; margin: 0">
    </div>

    <div class="mySlides sawislider">
            <img src="https://lillypetshop.pl/950-thickbox_default/royal-nap-legowisko-dla-sredniego-i-duzego-psa-silver-grey.jpg" style="height: 370px; padding: 0; margin: 0">
        <img src="https://lillypetshop.pl/1072-thickbox_default/dreamy-mata-podrozna-dla-psa-lub-kota-grey.jpg" style="height: 370px; padding: 0; margin: 0">

    </div>

</div>
<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  slides[slideIndex-1].style.display = "block";  
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>
@* koniec slidera *@

<div style="min-height: 400px" class="sjumbotron">
    <h1 style="margin-top: 80px; margin-bottom: 60px; color: #e43e86; font-family:Georgia; font-size: 70px">HappyDog Shop</h1>
    <p class="lead">To sklep stworzony z miłości do piesków. Znajdziesz u nas piękne i trwałe akcesoria, które z pewnoscią zadowolą Twojego czworonoga. Wszystkie produkty wykonujemy ręcznie z naturalnych materiałów.</p>
    <p><a href="https://asp.net" class="btn sbtn-primary btn-lg">Zobacz ofertę &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <img style="max-width: 350px" src="https://lillypetshop.pl/1053-thickbox_default/etui-na-woreczki-z-eko-skory-nina-vintage-denim.jpg" />
        <h2>Akcesoria spacerowe</h2>
        <p>
            Szeroki wybór szelek, smyczy, obroży, a także nerek i wygodnych kieszonek na smaczki i woreczki.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Zobacz ofertę &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img style="max-width: 350px" src="https://lillypetshop.pl/759-big_default/kosz-na-zabawki-playtime-light-grey.jpg" />
        <h2>Szarpaki i gryzaki</h2>
        <p>Ręcznie szyte zabawki, naturalne gryzaki, szarpaki plecione, maty i piłki węchowe.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Zobacz ofertę &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img style="max-width: 350px" src="https://lillypetshop.pl/1109-thickbox_default/ceramiczna-dla-psa-lub-kota-sand.jpg" />
        <h2>Jedzonko</h2>
        <p>Czyli to co wszystkie pieski lubią najbardziej. Starannie wyselekcjonowana oferta karm zarówno zbożowych, jak i bezzbożowych, oraz duży wybór smaczków zdrowych dla Twojego psa. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Zobacz ofertę &raquo;</a></p>
    </div>
</div>

<div>
    @foreach(var product in ViewBag.BestProducts)
    {
        <h3 style="color: #1b6d85"> @product.Name</h3>
    }
    
</div>