html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}
body {
    margin: 0;
}
.h4 {
    color: #e43e86;
}
body a{
    color: #e43e86;
    text-decoration: none;
}
.sjumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #ffffff;
}

    .sjumbotron h1,
    .sjumbotron .h1 {
        color: chocolate;
    }

    .sjumbotron p {
        margin-bottom: 15px;
        font-size: 21px;
        font-weight: 200;
    }

    .sjumbotron > hr {
        border-top-color: #d5d5d5;
    }
.container .sjumbotron,
.container-fluid .sjumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
}

.sjumbotron .container {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .sjumbotron {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .container .sjumbotron,
    .container-fluid .sjumbotron {
        padding-right: 60px;
        padding-left: 60px;
    }

    .sjumbotron h1,
    .sjumbotron .h1 {
        font-size: 63px;
    }
}
.sbtn-primary {
    color: #fff;
}

    .sbtn-primary:focus,
    .sbtn-primary.focus {
        color: #fff;
        background-color: #286090;
        border-color: #122b40;
    }

    .sbtn-primary:hover {
        color: #fff;
        background-color: yellow;
        border-color: yellow;
    }

    .sbtn-primary:active,
    .sbtn-primary.active,
    .open > .dropdown-toggle.sbtn-primary {
        color: #fff;
        background-color: #286090;
        background-image: none;
        border-color: #204d74;
    }

.sform-horizontal {
    border: double;
    border-color: #e43e86;
}
.sform-horizontal .radio,
.sform-horizontal .checkbox,
.sform-horizontal .radio-inline,
.sform-horizontal .checkbox-inline {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
}

.sform-horizontal .radio,
.sform-horizontal .checkbox {
    min-height: 27px;
}

.sform-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px) {
    .sform-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
}

.sform-horizontal .has-feedback .form-control-feedback {
    right: 15px;
}

@media (min-width: 768px) {
    .sform-horizontal .form-group-lg .control-label {
        padding-top: 11px;
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .sform-horizontal .form-group-sm .control-label {
        padding-top: 6px;
        font-size: 12px;
    }
}
.sawibox {
    border-style: double;
    border-radius: 8px;
    border-color: #f7e6cf;
    padding: 30px;
    margin: 50px;
}